<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<caching>
            <profiles>
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="DontCache" varyByQueryString="*" />
            </profiles>
        </caching>
        <defaultDocument enabled="true">
            <files>
                <clear />
				<!-- uncomment as required to use failover ArcGIS Server and failover Database, only one of the values must be uncommented at a time -->
				<add value="index.html" />
				<!--<add value="failover_ags.html" />-->
				<!--<add value="failover_sde.html" />-->
				<!--<add value="failover_ags_sde.html" />-->
				<!--<add value="dev.html" />-->
				<!--<add value="error.html" />-->               
			</files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="http://meckgov.maps.arcgis.com/apps/webappviewer/index.html?id=e86deec7a599460b97812209902e89ae" />
    </system.webServer>
</configuration>
